.blog {
  .box {
    text-align: center;

    .post-date {
      display: none;
    }

    h2 {
      font-size: 24px;
      /*font-weight: bold;*/
      margin-top: 25px;
    }

    p {
      margin: 10px 0 30px;
      text-align: left;
    }
    .CodeRay, blockquote {
      background-color: #eee;
      padding: 40px;
    }
    .code {
      pre {
        margin: 0;
        padding: 0;
      }
      font-size: 14px;
    }
    ol, li {
      list-style: decimal outside;
    }

    ol {
      padding: 20px;
    }
  }
  h3 {
    font-size: 28px;
    text-align: center;

    a {
      text-decoration: none;
    }
  }

  .date {
    display: block;
    color: #999;
    font-size: 13px;
    text-align: center;
  }

  .image {
    text-align: center;

    img {
      margin: 0 auto;
      max-width: 90%;

      &.round {
        .rounded-corners-all(20px);
      }
    }
  }

  iframe {
    margin: 0 auto;
  }
}
