@border-rad: 20px;
@dark-red: #8b0000;
body, div, p, ul, ol, li, span, h1, h2, h3, h4, h5, h6, a {
  border: 0;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: @dark-red;
  padding: 20px 10px;
  text-align: center;
}

#main {
  color: #000;
  font-family: Georgia, Times New Roman, serif;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;

  .title {
    background-color: #fff;
    padding: 20px;
  }
}

header {
  .text-shadow(2px,2px,#4b0000);
  a {
    color: #666;
    .transition(color, .2s);

    &:hover {
      color: #fff;
    }
  }
}

#sections, #mainSubtitle {
  color: #fff;
  text-align: left;
}

#sections {
  font-size: 36px;
  list-style: none;

  li {
    float: left;
    /*margin: 0 20px 0 0;*/
    &.selected a {
      color: #eedc82;
    }
  }
}

#mainSubtitle {
  font-size: 14px;
  clear: both;
  margin-left: 50px;
}

#content {
  padding-top: 10px;
}

.whitebox {
  background-color: #fff;
  border: 3px solid #ccc;
  list-style: none;
  margin: 25px 0 75px;
  padding: 25px 10px;
  text-align: left;
  .box-shadow(0,0,80px,#4b0000);
}

.clear {
  clear: both;
}

@media only screen and (min-width: 480px) {
  #sections {
    font-size: 48px;
  }
  .whitebox {
    padding: 25px;
  }
  #mainSubtitle {
    font-size: 16px;
  }
  #main {
    width: 90%;
  }
  #nav {
    float: right;
    li {
      font-size: 24px;
    }
  }
}
