@border-rad: 20px;
@dark-red: #8b0000;
body, div, p, ul, ol, li, span, h1, h2, h3, h4, h5, h6 {
  border: 0;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
body {
  background-color: @dark-red;
  padding: 20px 10px;
  text-align: center;
}

#main {
  color: #000;
  font-family: Georgia, Times New Roman, serif;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  width: 90%;

  .title {
    background-color: #fff;
    padding: 20px;
  }
}

#mainTitle, #mainSubtitle {
  color: #fff;
  text-align: left;
  .text-shadow(2px,2px,#4b0000);
}

#mainTitle {
  font-size: 36px;
}

#mainSubtitle {
  font-size: 14px;
  margin-left: 100px;
}

#content {
  padding-top: 10px;
}

@media only screen and (min-width: 480px) {
  #mainTitle {
    font-size: 48px;
  }
  #mainSubtitle {
    font-size: 16px;
    margin-left: 125px;
  }
}
@media only screen and (min-width: 800px) {
  body {
    /*padding: 100px;*/
  }
  #mainTitle {
    /*font-size: 72px;*/
  }
}
