.rounded-corners-all(@radius:5px) {
  -moz-border-radius: @radius;
  -o-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow(@x-offset:5px, @y-offset:5px) {
  -moz-box-shadow: 5px 5px 10px #333;
  -o-box-shadow: 5px 5px 10px #333;
  -webkit-box-shadow: 5px 5px 10px #333;
  box-shadow: 5px 5px 10px #333;
}
