body {
  background: url(../img/ocean.jpg) no-repeat fixed;
  background-size: cover;
}
.box {
  background-color: #eee;
  margin: 40px 0;
  padding: 10px;

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.inner-box {
  background-color: #fff;
  padding: 20px 40px;

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.post img {
  max-width: 100%;
}
#side {
  margin: 40px 0;
  padding: 40px auto 20px;
  text-align: center;
}
#side img {
  border: 3px solid #333;
  width: 100px;
  height: 100px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
