---
layout: main
title: gordon koo
show: home
debug: false
---

<ul class="list-unstyled">
  {% for post in paginator.posts %}
    {% include post_template.html %}
  {% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="btn btn-default">Previous</a>
    {% else %}
      <a href="{{ paginator.previous_page_path }}" class="btn btn-default">Previous</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn btn-default">Next</a>
  {% endif %}
</div>
