<div class="misc section{% if page.show == "misc" %} show{% endif %}">
  <h2 class="sectionTitle">misc</h2>
  <ul class="sectionContent">
    <li>
      <h3 class="title">
        <a href="http://www.linkedin.com/in/gordonkoo" title="LinkedIn">LinkedIn</a>
      </h3>
    </li>
    <li>
      <h3 class="title"> <a href="http://www.twitter.com/superkerplunk" title="Twitter">Twitter</a>
      </h3>
    </li>
    <li>
      <h3 class="title"> <a href="https://github.com/gkoo" title="Github">Github</a>
      </h3>
    </li>
    <li>
      <h3 class="title"> <a href="http://www.quora.com/Gordon-Koo" title="Quora">Quora</a>
      </h3>
    </li>
  </ul>
</div>
