<ul id="sectionBtnWrapper"{% if page.show != "home" %} class="loaded fading faded"{% endif %}>
  <li class="sectionBtn">
    <a class="title" href="/about.html" data-section="about">
      <span>About</span>
    </a>
  </li>
  <li class="sectionBtn">
    <a class="title" href="/blog.html" data-section="blog">
      <span>Blog</span>
    </a>
  </li>
  <li class="sectionBtn">
    <a class="title" href="/projects.html" data-section="projects">
      <span>Projects</span>
    </a>
  </li>
  <li class="sectionBtn">
    <a class="title" href="/misc.html" data-section="misc">
      <span>Misc</span>
    </a>
  </li>
</ul>
