<div class="projects section">
  <h2 class="sectionTitle">projects</h2>
  <ul class="sectionContent">
    <li class="box">
      <h3 class="title">
        <a href="http://timeline.linkedinlabs.com">Connection Timeline</a>
      </h3>
      <p>
        The Connection Timeline is an interactive visualization of the
        connections you've made throughout your career.
      </p>
    </li>
    <li class="box">
      <h3 class="title">
        <a href="http://koo.no.de/grid">Grid</a>
      </h3>
      <p>
        My first foray into real-time applications using NodeJS and Socket.IO.
        It's best described as a collaborative drawing experience and worst
        described as an unfinished thing that lets you draw on one browser
        and see it happen on a different browser.
    </li>
    <li class="box">
      <h3 class="title">
        <a href="http://koo.no.de/html/ka.html">Khan Academy TV</a>
      </h3>
      <p>
        A viewer for watching Khan Academy videos. When I first visited the
        Khan Academy website, I found the huge library of videos on the Khan
        Academy site incredibly overwhelming. I had the idea to just create
        a random video viewer for the library using their API, and this is the
        result.
      </p>
    </li>
    <li class="box">
      <h3 class="title">
        <a href="http://koo.no.de/html/coverflow.html">Coverflow</a>
      </h3>
      <p>
        One of the new features in Firefox 10 was support for CSS 3D
        transforms. Now that both Firefox and Chrome (and Safari, I
        suppose) support 3D transforms, I decided to kick the
        tires and make an in-browser implementation of coverflow, the
        popular visualization by Apple.
      </p>
    </li>
    <li class="box">
      <h3 class="title">
        <a href="https://github.com/gkoo/gkoo.github.com">gordonkoo.com</a>
      </h3>
      <p>
        It's the code for the site you're looking at.
      </p>
    </li>
  </ul>
</div>
