<div class="projects section{% if page.show == "projects" %} show{% endif %}">
  <h2 class="sectionTitle">projects</h2>
  <ul class="sectionContent">
    <li class="box">
      <h3 class="title">
        <a href="http://timeline.linkedinlabs.com">Connection Timeline</a>
      </h3>
      <p>
        The Connection Timeline is an interactive visualization of the
        LinkedIn connections you've made throughout your career. I worked
        on this project as part of LinkedIn's hackday in April 2011. It is
        currently featured on <a href="http://linkedinlabs.com">LinkedIn Labs</a>.
      </p>
    </li>
    <!-- removing for now since ... well, I need to find a home for this project.
    <li class="box">
      <h3 class="title">
        <a href="http://koo.no.de/grid">Grid</a>
      </h3>
      <p>
        My first foray into real-time applications using NodeJS and Socket.IO.
        It's best described as a collaborative drawing experience and worst
        described as an unfinished thing that lets you draw on one browser
        and see it happen on a different browser.
    </li>
    -->
    <li class="box">
      <h3 class="title">
        <a href="http://warm-galaxy-5669.herokuapp.com/">Ready, Set, Art!</a>
      </h3>
      <p>
        An experimental pictionary game I wrote with NodeJS, Socket.IO, and Backbone.
      </p>
    </li>
    <li class="box">
      <h3 class="title">
        <a href="http://gordonkoo.com/Khan-Academy-Roulette/">Khan Academy Roulette</a>
      </h3>
      <p>
        A viewer for watching Khan Academy videos. When I first visited the
        Khan Academy website, I was overwhelmed by the huge library of videos
        on the Khan Academy site. I had the idea to create a random video
        viewer for the library using their API. This is the result.
      </p>
    </li>
    <li class="box">
      <h3 class="title">
        <a href="http://gordonkoo.com/coverflow-experiment/">Coverflow</a>
      </h3>
      <p>
        One of the new features in Firefox 10 was support for CSS 3D
        transforms. Now that both Firefox and Chrome (and Safari, I
        suppose) support 3D transforms, I decided to kick the
        tires and make an in-browser implementation of coverflow, the
        popular visualization by Apple.
      </p>
    </li>
    <li class="box">
      <h3 class="title">
        <a href="https://github.com/gkoo/gkoo.github.com">gordonkoo.com</a>
      </h3>
      <p>
        It's the code for the site you're looking at.
      </p>
    </li>
  </ul>
</div>
