<div id="side-container" class="col-md-4">
  <div id="side" class="box">
    <div class="inner-box">
      <img src="/img/me_thumb.jpg">
      <h1>Gordon Koo</h1>
      <div>
        <p><em>Stanford CS '08</em></p>
        <p><em>LinkedIn 2010-2013</em></p>
        <p><em>Airbnb 2013-</em></p>
      </div>
      <p>
        <a href="https://www.linkedin.com/in/gordonkoo">LinkedIn</a>
        |
        <a href="https://twitter.com/superkerplunk">Twitter</a>
        |
        <a href="https://www.github.com/gkoo">Github</a>
      </p>
    </div>
  </div>
</div>
